/* GLOBAL ==================================*/
:root{
    --purple: rgb(32, 15, 86);
}

*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}

#container{
    margin: auto;
}

main, header{
    margin-left: 50px;
}

/* HEADER ==================================*/
#cabecalho{
    display: block;

    margin-bottom: 50px;
}

#pesquisa{
    background-color: var(--purple);
    border: none;
    width: 500px;

    margin-left: 10px;
}

/* MENU LATERAL ==================================*/
aside{
    background-color: #040517;

    color: white;

    width: 300px;
    height: 100%;

    left: 0;
    top: 0;

    padding: 10px;

    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#perfil{
    margin: auto;
}

#dados{
    color: grey;
}

.menu{
    text-align: left;

    list-style: none;
    margin: auto;

    color: grey;
}

li{
    margin-top: 10px;
}

#dados, #foto-perfil{
    display: inline-block;
    text-align: left;
}

ul p {
    user-select: none;
}

/* PRINCIPAL ==================================*/
/* PRINCIPAL PLAYLIST=========================*/
section{
    background-color: var(--purple);
    color: white;

    height: 100%;
    width: 100%;

    padding: 10px;
    margin-left: 300px;

    display: block;
    position: fixed;
}

#playlists {
    width: 800px;
    height: 230px;

    margin-top: 25px;

    display: inline-grid;
    grid-template-columns: 300px 300px 300px 300px;

    overflow-x: scroll;
}

.album{
    color: grey;
}

/* PRINCIPAL VISUALIZAÇÃO======================*/
#visualizacao{
    width: 400px;
    height: 1px;

    margin-top: 30px;

    text-align: left;

    display: block;
}

.view h4{
    color: white;
}

.view{
    margin-top: 25px;

    display: flex;
    align-items: center;

    color: grey;
}

.singer{
    margin-left: 25px;
    margin-right: auto;
}

/* PRINCIPAL MUSICAS==========================*/
#musicas{
    margin-left: 500px;

    width: 400px;
    height: 180px;
    overflow-x: scroll;

    display: flex;
    flex-direction: column;
}

/* IMAGENS ==================================*/
#foto-perfil{
    width: 60px;
    height: 60px;

    border-radius: 10px;
}

#playlists img{
    width: 270px;
    height: 165px;

    object-fit: cover;

    border-radius: 5px;
}

.view img{
    width: 60px;
    height: 60px;

    object-fit: cover;

    border-radius: 5px;
}

/* RESPONSIVIDADE ==================================*/
li:hover, #editar:hover{
    color: white;
    cursor: pointer;
}

#playlists::-webkit-scrollbar{
    height: 10px;
}

#playlists::-webkit-scrollbar-track{
    background: rgb(40, 25, 90);
    border-radius: 5px;
}

#playlists::-webkit-scrollbar-thumb{
    background: mediumpurple;
    border-radius: 5px;
}

#playlists::-webkit-scrollbar-thumb:hover{
    background: rebeccapurple;
}